
{% load static %}
<footer id="hs_footer">
    <div class="container">
      <div class="hs_footer_content">
        <div class="row">
          <div class="col-lg-12">
            <div class="hs_footer_menu">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-9 col-sm-12">
            <div class="row">
              <div class="hs_footer_about_us">
                <div class="col-lg-3 col-md-4 col-sm-12 col-md-12 col-sm-12">
                  <h4 class="hs_heading">About Us</h4>
                  <a href="index.html"><img src="{% static 'images/logo.svg' %}" alt="logo" width="180" height="41" /></a> </div>
                <div class="col-lg-9 col-md-8 col-sm-12 hs_about_us">
                  <div class="hs_margin_60"></div>
                  <p>Mueen Hassan Abbasi, MCS from VU </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-12">
            <h4 class="hs_heading">Get in touch !</h4>
            <div class="hs_contact_detail">
              <p><i class="fa fa-map-marker"></i> Hasilpur, Distt. Bahawalpur, Punjab, Pakistan Postal Code: 63000</p>
              <p><i class="fa fa-mobile-phone"></i> +92 301 792 3536</p>
              <div class="clearfix"></div>
              <div class="hs_social">
                <ul>
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>