{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="hs_page_title">
    <div class="container">
        <h3>Appointments</h3>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a>Appointments</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="hs_heading">Appointments</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Hemoglobin</th>
                    <th>BMI</th>
                    <th>Platelets</th>
                    <th>Blood Sugar</th>
                    <th>Blood Pressure</th>
                    <th>Symptoms</th>
                    <th>Diagnosis</th>
                    <th>Prescription</th>
                  </tr>
                </thead>
                <tbody>
                  {% for appointment in appointments %}
                    <tr>
                      <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
                      <td>{{ appointment.date }}</td>
                      <td>{{ appointment.time }}</td>
                      <td>{{ appointment.hemoglobin }}</td>
                      <td>{{ appointment.bmi }}</td>
                      <td>{{ appointment.platelets }}</td>
                      <td>{{ appointment.blood_sugar }}</td>
                      <td>{{ appointment.blood_pressure }}</td>
                      <td>{{ appointment.symptoms }}</td>
                      <td>{{ appointment.diagnosis }}</td>
                      <td>{{ appointment.prescription }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}